<div class="relative h-screen background" >
    <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2" id="parallax-img" #parallaxImg>
        <img class="w-[339px] h-[446px] z-10" src="../../assets/osmox5-removebg-preview.png"  >
    </div>
</div>
<div class="containerDos">
<div class="hidden mt-2 md:grid grid-colos-1 md:grid-cols-3 gap-2 h-[39rem] md:h-[22rem]">
    <div
        class="relative bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl md:rounded-tl-[3rem] overflow-hidden" style="height: 22rem;">
            <img alt="Gorgeous"
            loading="lazy" width="494" height="360" decoding="async" data-nimg="1"
            class="hidden dark:block absolute bottom-24 w-[85%] left-1/2 -translate-x-1/2" style="color:transparent"
            srcSet="../../assets/20288__14199.jpg"
            src="../../assets/20288__14199.jpg" />
        <div
            class="absolute bottom-0 w-full h-2/3 md:h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
        </div>
        <div class="absolute bottom-7 space-y-2.5 w-full px-8">
            <div class="text-sm">Rode</div>
            <p class="text-xs text-gray-500">Rode Microphone is official used by FlownBrolly</p>
        </div>
    </div>
    <div
        class="relative bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl md:rounded-tr-[3rem] overflow-hidden h-auto">
             <div class="absolute bottom-7 space-y-2.5 w-full px-8">
                <div
                class="absolute bottom-0 w-full h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
            </div>
            <div class="absolute bottom-7 space-y-2.5 w-full px-8">
                <h5 class="text-sm text-gray-950">Osmo x5</h5>
                <p class="text-xs text-gray-500 leading-relaxed">Incredible and professional camera for movie clips</p>
            </div>
    </div>
</div>
<div class="hidden mt-2 md:grid grid-colos-1 md:grid-cols-3 gap-2 h-[39rem] md:h-[44rem]">
    <div
        class="relative bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl md:rounded-bl-[3rem] overflow-hidden">
        <img alt="Performance" loading="lazy" width="404" height="428" decoding="async" data-nimg="1"
            class="block dark:hidden absolute -bottom-12 md:bottom-16 w-[85%] left-1/2 -translate-x-1/2"
            style="color:transparent"
            srcSet="../../assets/osmox5-removebg-preview.png"
            src="/_next/image?url=%2Fassets%2Fvalues%2Flight%2Fperformance.png&amp;w=828&amp;q=75" /><img
            alt="Performance" loading="lazy" width="404" height="428" decoding="async" data-nimg="1"
            class="hidden dark:block absolute -bottom-12 md:bottom-16 w-[85%] left-1/2 -translate-x-1/2"
            style="color:transparent"
            srcSet="/_next/image?url=%2Fassets%2Fvalues%2Fdark%2Fperformance.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2Fassets%2Fvalues%2Fdark%2Fperformance.png&amp;w=828&amp;q=75 2x"
            src="/_next/image?url=%2Fassets%2Fvalues%2Fdark%2Fperformance.png&amp;w=828&amp;q=75" />
        <div
            class="absolute bottom-0 w-full h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
        </div>
        <div class="absolute bottom-7 space-y-2.5 w-full px-8">
            <h5 class="text-sm text-gray-950"></h5>
            <p class="text-xs text-gray-500 leading-relaxed">Meticulously designed and optimized for a great user
                experience</p>
        </div>
    </div>
    <div
        class="relative bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl overflow-hidden">
        <img alt="Conversion" loading="lazy" width="404" height="428" decoding="async" data-nimg="1"
            class="block dark:hidden absolute -bottom-10 md:bottom-4 w-[85%] left-1/2 -translate-x-1/2"
            style="color:transparent"
            src="../../assets/osmox5-removebg-preview.png" />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 h-[28rem] md:h-[19rem]"></div>


    <div class="h-screen"></div>

</div>