.galeria{
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: 24rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1.5fr));
}
.capitulo{
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
    background: #121212;
    border-radius: 0.3rem;
    min-width: 25vw;
    color:#ffffff;
}

.capitulo:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.capitulo
h3{
    font-size: x-large;
}

.capitulo img{
    border-radius: 14px;
}

.galeria .capitulo .more-text {
    display: none;
}

.galeria .capitulo .read-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.galeria .capitulo button:hover {
    color: #026ddf;
}