<div class="conteiner mt-24 w-lvw">
    <form action="" class="w-2/4 mx-auto flex flex-col rounded-lg bg-neutral-950 p-12">
        <h3 class="mx-auto text-2xl text-red-500">Formulario De contacto</h3>
        <div class="flex flex-row justify-between">
            <div class="w-1/2 inline-block">
                <label for="" class="mt-4 mb-1 block">Nombre</label>
                <input type="text" class="w-[95%]">
            </div>
            <div class="w-1/2 inline-block">
                <label for="" class="mt-4 mb-1 block">Apellido</label>
                <input type="text" name="" id="" class="w-[95%]">
            </div>
        </div>
        <label for="" class="mt-4 mb-1">Email</label>
        <input type="email">
        <label for="" class="mt-4 mb-1">Asunto</label>
        <input type="text">
        <label for="" class="mt-4 mb-1">Mensaje</label>
        <textarea name="" id="" class="resize-none h-24"></textarea>
        <input type="submit" class="mt-6 bg-red-600 hover:bg-red-400 hover:cursor-pointer w-16 h-8 mx-auto rounded-md"
            value="Enviar">
    </form>
</div>