<div class="mt-14 mx-6" *ngIf="capitulo; else notFound">
  <h1 class="text-2xl">{{ capitulo?.titulo }}</h1>
  <div class="flex flex-row">
    <p>{{ capitulo?.texto }}</p>
    <img [src]="capitulo?.img" alt="{{ capitulo?.titulo }}">
  </div>
  <iframe width="560" height="315" [src]="safeUrl" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <h1>{{id}}</h1>
</div>
<ng-template #notFound>
  <p>Capítulo no encontrado</p>
</ng-template>