<header  [ngClass]="{'absolute': isHomeRoute, 'text-white p-4 backdrop:opacity-50': true}">
  <div class="container mx-auto flex justify-between items-center">
    <h5 class="text-2xl font-bold">FlownBrolly</h5>
    <nav>
      <ul class="flex space-x-4">
        <li><a routerLink="/home" class="hover:text-gray-400 transition-colors">Inicio</a></li>
        <li><a routerLink="/proyectos" class="hover:text-gray-400 transition-colors">Proyectos</a></li>
        <li><a routerLink="/equipos" class="hover:text-gray-400 transition-colors">Equipos</a></li>
        <li><a href="#" class="hover:text-gray-400 transition-colors">Sobre Nosotros</a></li>
        <li><a href="#" class="hover:text-green-600 transition-colors text-green-400">Unirse</a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>

<footer class="mt-24">
  <div class="textoyredes">
    <div>
      <span class="instagramLogo">
        <i class="fa-brands fa-square-instagram" style="overflow: hidden;"></i>
      </span>
      <span style="font-size: 3em; color: #3b5998;">
        <i class="fa-brands fa-square-facebook" style="overflow: hidden;"></i>
      </span>
      <span style="font-size: 3em; color: #229ED9;">

        <i class="fa-brands fa-telegram" style="overflow: hidden;"></i>
      </span>
      <span style="font-size: 3em; color: white;">
        <i class="fa-brands fa-square-x-twitter" style="overflow: hidden;"></i>
      </span>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam voluptas consequatur doloremque magnam a debitis, aliquam veniam quidem, cum fugiat et repudiandae veritatis doloribus! Magnam a quam et pariatur soluta.</p>
  </div>
    <img src="../../assets/paraguas.png" alt="paraguas"  srcset="" class="w-40 h-40">
</footer>