<div class="portada">
    <div class="flex align-middle justify-center flex-col items-center alto ">
        <div class="p-28 backdrop-blur-sm rounded-xl">
            <h3 class="block  text-gray-100 mb-4 font-sans text-2xl">¡Donde La Magia Cobra Vida! 🎥🎞️</h3>
            <a routerLink="/proyectos" class="py-2 px-4 rounded-lg bg-orange-300 hover:bg-orange-700 duration-200 hover:text-white text-black cursor-pointer block mx-auto w-32">Ver Proyecto</a>
        </div>
    </div>
    <div class="absolute bott h-16 w-lvw bg-gradient-to-t from-gray-900 to-transparent">

    </div>
</div>

<div class="queEs">
    <div class="flex flex-row py-6 my-20 mx-auto w-5/6 justify-center" data-aos="zoom-in">
        <div class="px-8 rounded-2xl bg-red-100" 
        data-aos="fade-right"
        data-aos-offset="100"
        data-aos-easing="ease-in-sine">
            <h4 class="my-8 text-red-600 text-4xl">
                ¿Que es Flown Brolly?
            </h4>
            <p class="text-lg text-black ">
                Flown Brolly es una productora de cine, fundada por un gran cineasta, Manuel Etcheverry
            </p>
        </div>
        <img src="../../assets/que es.png" alt="Manu" class="Manu ml-8 rounded-lg"
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-easing="ease-in-sine">
    </div>
</div>




<div class="containerDos" data-aos="fade-up">
    <div class="hidden mt-2 md:grid grid-colos-1 md:grid-cols-3 gap-2 ">
        <div>
        <div class="relative bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl md:rounded-tl-[3rem] overflow-hidden"
            style="height: 17rem;">
            <img alt="Gorgeous" loading="lazy" width="494" height="360" decoding="async" data-nimg="1"
                class="hidden dark:block absolute bottom-24 w-[85%] left-1/2 -translate-x-1/2" style="color:transparent"
                srcSet="../../assets/20288__14199.jpg" src="../../assets/20288__14199.jpg" />
            <div
                class="absolute bottom-0 w-full h-2/3 md:h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
            </div>
            <div class="absolute bottom-7 space-y-2.5 w-full px-8">
                <div class="text-sm">Rode</div>
                <p class="text-xs text-gray-500">Rode Microphone is official used by FlownBrolly</p>
            </div>
        </div>
        <div class="relative mt-6 bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl md:rounded-bl-[3rem] overflow-hidden"
        style="height: 19rem; width: 25vw;">
        <img alt="Gorgeous" loading="lazy" width="494" height="360" decoding="async" data-nimg="1"
            class="hidden dark:block absolute bottom-0 w-[85%] left-1/2 -translate-x-1/2" style="color:transparent"
            srcSet="../../assets/dr08.jpg" src="../../assets/dr08.jpg" />
        <div
            class="absolute bottom-0 w-full h-2/3 md:h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
        </div>
        <div class="absolute bottom-7 space-y-2.5 w-full px-8">
            <div class="text-sm">Tascam Dr08</div>
            <p class="text-xs text-gray-500">A 24-bits audio recorder</p>
        </div>

    </div>

    </div>
        <div
            class="relative bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl overflow-hidden h-[36rem] mt-2">
            <div class="absolute bottom-7 space-y-2.5 w-full px-8">
                <div
                    class="absolute bottom-0 w-full h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
                    <img alt="Gorgeous" loading="lazy" width="494" height="360" decoding="async" data-nimg="1"
                        class="hidden dark:block absolute bottom-24 w-[85%] left-36 -translate-x-1/2 mb-8"
                        style="color:transparent" srcSet="../../assets/osmox5-removebg-preview.png"
                        src="../../assets/osmox5-removebg-preview.png" />
                </div>
                <div class="absolute bottom-7 space-y-2.5 w-full ">
                    <h5 class="text-sm text-gray-950">Osmo x5</h5>
                    <p class="text-xs text-gray-500 leading-relaxed mr-8">Incredible and professional camera for movie
                        clips, Oficially used for Flown Brolly prods</p>
                </div>
            </div>
        </div>
<div>

        <div class="relative bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl md:rounded-tr-[3rem] overflow-hidden"
            style="height: 17rem; width: 25vw;" >
            <img alt="Gorgeous" loading="lazy" width="494" height="360" decoding="async" data-nimg="1"
                class="hidden dark:block absolute bottom-12 w-[85%] left-1/2 -translate-x-1/2" style="color:transparent"
                srcSet="../../assets/dr08.jpg" src="../../assets/dr08.jpg" />
            <div
                class="absolute bottom-0 w-full h-2/3 md:h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
            </div>
            <div class="absolute bottom-7 space-y-2.5 w-full px-8">
                <div class="text-sm">Tascam DR-08</div>
                <p class="text-xs text-gray-500">A 24bits study audio recorder.</p>
            </div>
        </div>

        <div class="relative mt-6 bg-gray-100/70 dark:bg-secondary-light/[0.02] dark:border dark:border-white/5 rounded-xl md:rounded-br-[3rem] overflow-hidden"
        style="height: 19rem; width: 25vw;">
        <img alt="Gorgeous" loading="lazy" width="494" height="360" decoding="async" data-nimg="1"
            class="hidden dark:block absolute top-14 w-[85%] left-1/2 -translate-x-1/2" style="color:transparent"
            srcSet="../../assets/mavic.png" src="../../assets/mavic.png" />
        <div
            class="absolute bottom-0 w-full h-2/3 md:h-1/2 bg-gradient-to-b from-transparent to-40% to-[#F7F7F8] dark:to-[#04050B]">
        </div>
        <div class="absolute bottom-7 space-y-2.5 w-full px-8">
            <div class="text-sm">Mavic Pro</div>
            <p class="text-xs text-gray-500">A 24bits study audio recorder.</p>
        </div>

    </div>

    </div>
      