<div class="portada">
    <div class="flex align-middle justify-center flex-col items-center alto">
        <div class="p-28 rounded-md backdrop-blur-sm">
            <h3 class="block  text-gray-100 mb-4 font-sans text-2xl">¡Donde La Magia Cobra Vida! 🎥🎞️</h3>
            <a routerLink="/proyectos" class="py-2 px-4 bg-lime-400 cursor-pointer block mx-auto w-32">Ver Proyecto</a>
        </div>
    </div>
    <div class="absolute bott h-16 w-lvw bg-gradient-to-t from-gray-900 to-transparent">

    </div>
</div>

<div class="queEs">
    <div class="flex flex-row mx-6 justify-around mt-16">
        <div>
            <h4 class="my-8 text-red-600 text-4xl">
                ¿Que es Flown Brolly?
            </h4>
            <p class="text-lg">
                Flown Brolly es una productora de cine, fundada por un gran cineasta, Manuel Etcheverry
            </p>
        </div>
        <img src="../../assets/que es.png" alt="Manu" class="Manu">
    </div>
</div>