header{
    position: fixed;
}

.portada{
    background-image: url("../../assets/Portada.png");
    width: 100%;
    margin: 0 auto;
    height: 100.5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.alto{
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bott{
    bottom: -2.5%;
}

.Manu{
    margin-top: 0;
    height: 15rem;
    width: 15rem;
}

.containerDos{
    display: flex;
    flex-direction: row;
}